#home-title h2{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

#home-title i{
  color: orange;
}

p {
  font-size: 18px;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.home-card {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container h3 {
  text-align: center;
  font-weight: bold;
}

.container h4 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
