#home-title h2{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

#home-title i{
  color: orange;
}

p {
  font-size: 18px;
}

.container img {
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;
}

.home-card {
  padding-top: 50px;
  padding-bottom: 50px;
}
