#team-photo {
  position: relative;
  width: 80%;
  padding: 25px;
}

.exec-card {
  margin-top: 50px;
  margin-bottom: 50px;
}

.exec-img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.exec-card h3 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 20px;
}

.exec-card h4 {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.exec-card p {
  font-size: 18px;
}

.exec-card img {
  width: 250px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.exec-img img {
  width: 250px;
}
